body{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}
    .customBtn {
        display: inline-block;
        
        color: #444;
        width: 190px;
        border-radius: 5px;
        white-space: nowrap;
        background-color: #140840;
      }
      #startGame{
        color: #fff;
        font-size: 16px;
        font-weight: bolder;
        padding: 10px 0px; 
      }
      #customBtn:hover {
        cursor: pointer;
      }
      span.icon {
        background: url('https://developers-dot-devsite-v2-prod.appspot.com/identity/sign-in/g-normal.png') 5px 50% no-repeat;
        display: inline-block;
        vertical-align: middle;
        width: 42px;
        height: 42px;
      }
      span.buttonText {
        color: #fff;
        display: inline-block;
        vertical-align: middle;
        padding-left: 42px;
        padding-right: 42px;
        font-size: 16px;
        font-weight: bold;
        
        
      }
     #header h3{
         color: white;
         line-height: 3rem;
         font-weight: bold;
         
     }
     #header{
         background-color: black;
         color: #fff;
         text-align: center;
     }
      
      .boxes{
         padding: 100px 0px;
          height: 100vh;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          
      }
      .boxes div{
          cursor: pointer;
      }
      
      #firstBox{
          display: flex;
          align-items: center;
          flex-direction: column;
          
      }
      #firstBox button{
          cursor: pointer;
          margin: 10px;
      }
      .containers{
        background-image: url('./background.jpg') ;
        background-size: contain;
      }
      
      .circle{
        padding: 2.5rem;
        border-radius: 50%;
        margin: 1rem;
      };
      
      .blue{
        background: blue;
      }
      .yellow{
        background: yellow;
      }
      .green{
        background: green;
      }
      .orange{
            background: orange;
      }
      .red{
        background-color: red;
      }
      .line{
        display: flex;
      }
      #gamesBox{
        padding: 100px 0px;
          max-height: 550px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          overflow: hidden;
          display: none;
      }
      #scoreBoard{
        color: #fff;
        text-align: center;
        background-color: #140840;
        font-size: 20px;
        font-weight: 700;
        width: 30%;
        opacity: 90%;
      }