*{
    margin: 0px;
    font-family: sans-serif;
    
    
}
.mainInterfaceForms{
    display: flex;
    height: 100vh;
    /* width: 100vw; */
    justify-content: center;
    align-items: center;
    
}
.mainInterfaceForms input{
    border: none;
    border-bottom: 1px solid lightgrey;
    width: 35em;
}
.formInterfaceDiv{
    display: flex;
    flex-direction: column;
    line-height: 2em;
    justify-content: center;
    padding: 5em 10em;
}
.mainInterfaceForms button{
    align-self: center;
    background-color: royalblue;
    color: #fff;
    padding: 1em 2em;
    width: 11em;
    border: none;    
}

#invalid{
    color: red;
    margin-top: -2.5em;
    display: none;
}
#incorrectEmailLogin{

    color: red;
    display: none;
} 
#incorrectPasswordLogin{
    color: red;
    display: none;
}
.h1{
    font-size: 2em;
    margin: 3em 0em 10px 0em;
    text-align: center;
}
.teams{
    border: 1px solid #bfbfbf;
    padding: 1em 1em;
    width: 40vw;
    line-height: 1.5em;
    margin: 2em 0em;
    
}

.mainTeamInteface {
    display: flex;
    flex-direction: column;
    padding: 5em 0em 5em 8em;
   
    
}
.teams span{
    font-size: 1.3rem;
    padding-bottom: 5px;
    
}
#plusBtn {
    display: inline;
    /* position: relative;
    top: 46em; */
    padding: 0em 3em;
}
.popupcreate{
    border: 1px solid black;
    padding: 5em 8em;
    background-color: white;
    
}

#teamCreationForm{
    
    flex-direction: column;
    display: flex;

}
.popupMainCreate{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0em;
    display: none;
    
}
#teamCreationForm input{
 border: none;
    border-bottom: 1px solid lightgrey;
    width: 35em;   
    margin-top: 5em;
}
#teamNameCreate{
    margin-bottom: 5em;
}
#mainTeamIntefaceAll {
    display: flex;
    align-items: flex-end;
}
.teamsIown {
    max-height: 16em;
    overflow: auto;
}
.teamsInWhichIam {
    max-height: 16em;
    overflow: auto;
}

.teamsInterfaceparts {
    height: 16em;
    width: 45vw;
}

.popupCreateButtonContainer{
    display: flex;
    
    justify-content: space-evenly;
}
.popupCreateButton{
    color: white;
    padding: 10px 2em;
    font-weight: 600;
    font-weight: 600;
    margin-top: 4em;
}
#popupCreate{
    background-color: royalblue;
}
#popupCancel{
    background-color: red;
}
#tabs button{
    background-color: white;
    color: #000;
    margin-bottom: 2em;
}
/* #tabs button:active{
    border-bottom: 4px solid red;
    border-radius: 3px;
    
} */
#memberListContainer{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
        
}
#membersList{
    padding: 1em 2em ;
}
#dateInput{
    width: 12em;
    border: 1px solid black;
    margin-right: 3em;
}
.ownerReportsSettings{
    padding: 1em;
    width: 60em;
}
.questionAnswers{
    margin-left: 3em;
    line-height: 2em;
}
.membersDetails{
    margin-top: 0.5em;
    line-height: 2em;
}
.align1ofSettings{
    font-size: 20px;
}
.align2ofSettings{
    margin-left: 4em;
    font-size: 18px;
    
}
#definingQuestions{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
#definingQuestions input{
    margin: 1em 0em;
    line-height: 4em;
}
#definingTime{
    width: 10em;
    border: 1px solid black;
    padding: 0.5em;

}
#checkboxofSettings{
    width: 4em;
    transform: scale(2);
}
#checkboxofSettingsContainer{
    display: flex;
    justify-content: space-evenly;
    margin: 2em 0em;
    align-items: center;
}
.allMemberEmailsStyle{
    background-color: lightgrey;
    border-radius: 30px;
    line-height: 3em;
    padding: 0em 1em;
    /* border: 1px solid lightgrey; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    
    font-weight: 600;
    margin: 1em;
}
#addMemberEmails{
    display: flex;
    flex-wrap: wrap;
    width: 40em;
}
#addMemberDiv{
    margin: 2em 0em;
}
#buttonsofSettingstab{
    margin: 2em 0em;
    
}
#addMemberButton{
    margin-left: 1em;
}

#CancelButtonOfSettings{
    background-color: #fff;
    color: #000;
    box-shadow: 1px 1px 3px lightgrey;
    margin-left: 2em;
}
#deleteTeamofSettings{
    background-color: red;
    position: relative;
    left: 12em;
}
#memberViewContainer{
    padding: 3em;
}
#firstParaOfMemberView{
    
    margin: 2em 0em;
}
#answersValueFromMembers{
    margin: 2em 4em;
    line-height: 2em;

}
#loginPageButtons{
    display: flex;
    justify-content: space-around;
}
/* making display none */
#signup-main{
    display: none;
}

#teamsDashboard{
    display: none;
}
#popupWindow{
    display: none;
}
#ownerViewReturn{
    display: none;
}
#ownerViewSetting{
    /* display: none; */
    margin: 10em 0em;
}
#memberview{
    display: none;
}
#login-main{
    display: none;
}